# Cleaning

In [11]:
# imports 
import seaborn as sns
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('../data/SINAN/SifAquirida_2010_2017_Long.csv', sep=';')

In [10]:
# remove irrelevant columns

# null columns
nulls = ['in_vincula', 'id_ocupa_n', 'codisinf', 'co_usucad','tpuninot']

# ignorable (repetitive or something like that)
ignorable = [ 'nu_idade_ant_string', 'ctrlsifan', 'id_agravo', 
             'tp_sistema', 'nobaiinf', 'id_pais', 'dt_diagnostico',
            # no significant information (as id, name, birth date)
             'dt_nasc', 
            ]

labels = nulls + ignorable
df_clean = df.drop(labels=labels, axis='columns')

After droping the columns, we must process both numeric and textual values.

In [20]:
# change empty string to missing values
df_clean.replace('\s+', np.nan, regex=True, inplace=True)

# Asserting it worked
df_clean.evolucao.value_counts()

1    149883
9     67423
3       348
2       121
Name: evolucao, dtype: int64

In [23]:
# categorical data as lowercase
categorical = ['co_usualt']

for category in categorical:
    df_clean[category] = df_clean.iloc[:,df_clean.columns.get_loc(category)].str.lower() 
    
df_clean.co_usualt.value_counts().head()

paciente    7479
ocupacao    2537
antecede    1999
tratamen    1639
titulaca    1244
Name: co_usualt, dtype: int64