## Recuperando dados do PMAQ

Usando dados disponibilizados

In [1]:
import pandas as pd

O primeiro passo é importar os CSVs. Escolher apenas as variáveis referentes a sífilis e teste rápido ajuda a diminuir o tempo de processamento e espaço ocupado.

In [7]:
m1 = pd.read_csv('../data/BANCO_PMAQ/M_I.csv', usecols=['IBGE', 'CNES_FINAL', 'DATA', 'I.11.1', 'I.15.9.3', 'I.15.9.4'], sep=';', parse_dates=['DATA'])

m1.head()

/Users/mayradazvd/workspace/alaunus/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,IBGE,CNES_FINAL,DATA,I.11.1,I.15.9.3,I.15.9.4
0,120001,3382745,2017-10-16 11:55:06.999000+00:00,1,2,2
1,120001,3393984,2017-10-16 11:53:35.875000+00:00,1,998,998
2,120001,3638685,2017-10-16 11:56:20.573000+00:00,1,2,2
3,120001,5403669,2017-10-16 11:58:08.037000+00:00,1,2,2
4,120005,3797554,2017-10-16 01:35:10.520000+00:00,1,998,998

In [10]:
m1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30346 entries, 0 to 30345
Data columns (total 6 columns):
IBGE          30346 non-null int64
CNES_FINAL    30346 non-null object
DATA          30346 non-null datetime64[ns, UTC]
I.11.1        30346 non-null int64
I.15.9.3      30346 non-null int64
I.15.9.4      30346 non-null int64
dtypes: datetime64[ns, UTC](1), int64(4), object(1)
memory usage: 1.4+ MB

In [8]:
m2 = pd.read_csv('../data/BANCO_PMAQ/M_II.csv', usecols=['IBGE', 'CNES_FINAL', 'INE', 'DATA', 'II.12.1.7', 'II.15.13'], sep=';', parse_dates=['DATA'])

m2.head()

,IBGE,INE,CNES_FINAL,DATA,II.12.1.7,II.15.13
0,120001,4294,3006166,2018-10-15 21:40:41.803000+00:00,9997,9997
1,120001,4316,3382745,2017-10-16 11:54:56.667000+00:00,1,1
2,120001,4324,3393984,2017-10-16 11:52:59.062000+00:00,1,1
3,120001,4332,3638685,2017-10-16 11:56:10.811000+00:00,1,1
4,120001,4340,5403669,2017-10-16 11:57:57.439000+00:00,1,2

In [11]:
m2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38865 entries, 0 to 38864
Data columns (total 6 columns):
IBGE          38865 non-null int64
INE           38865 non-null int64
CNES_FINAL    38865 non-null object
DATA          38865 non-null datetime64[ns, UTC]
II.12.1.7     38865 non-null int64
II.15.13      38865 non-null int64
dtypes: datetime64[ns, UTC](1), int64(4), object(1)
memory usage: 1.8+ MB

In [9]:
m3 = pd.read_csv('../data/BANCO_PMAQ/M_III.csv', usecols=['IBGE', 'CNES_FINAL', 'INE', 'DATA', 'III.13.7.3'], sep=';', parse_dates=['DATA'])

m3.head()

     IBGE   INE CNES_FINAL                             DATA  III.13.7.3
0  120001  4294    3006166 2017-10-16 11:50:54.137000+00:00        9997
1  120001  4294    3006166 2017-10-16 11:51:12.654000+00:00        9997
2  120001  4294    3006166 2017-10-16 11:51:22.096000+00:00        9997
3  120001  4294    3006166 2017-10-16 11:50:42.849000+00:00        9997
4  120001  4316    3382745 2017-10-16 11:54:14.817000+00:00         998

In [12]:
m3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157497 entries, 0 to 157496
Data columns (total 5 columns):
IBGE          157497 non-null int64
INE           157497 non-null int64
CNES_FINAL    157497 non-null object
DATA          157497 non-null datetime64[ns, UTC]
III.13.7.3    157497 non-null int64
dtypes: datetime64[ns, UTC](1), int64(3), object(1)
memory usage: 6.0+ MB

Com os módulos carregados, vamos filtrar apenas as respostas de Natal

In [13]:
m1_natal = m1.query('IBGE == 240810')

m1_natal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42 entries, 22251 to 22292
Data columns (total 6 columns):
IBGE          42 non-null int64
CNES_FINAL    42 non-null object
DATA          42 non-null datetime64[ns, UTC]
I.11.1        42 non-null int64
I.15.9.3      42 non-null int64
I.15.9.4      42 non-null int64
dtypes: datetime64[ns, UTC](1), int64(4), object(1)
memory usage: 2.3+ KB

In [16]:
m2_natal = m2.query('IBGE == 240810')

m2_natal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 121 entries, 28650 to 28770
Data columns (total 6 columns):
IBGE          121 non-null int64
INE           121 non-null int64
CNES_FINAL    121 non-null object
DATA          121 non-null datetime64[ns, UTC]
II.12.1.7     121 non-null int64
II.15.13      121 non-null int64
dtypes: datetime64[ns, UTC](1), int64(4), object(1)
memory usage: 6.6+ KB

In [17]:
m3_natal = m3.query('IBGE == 240810')

m3_natal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 495 entries, 115946 to 116440
Data columns (total 5 columns):
IBGE          495 non-null int64
INE           495 non-null int64
CNES_FINAL    495 non-null object
DATA          495 non-null datetime64[ns, UTC]
III.13.7.3    495 non-null int64
dtypes: datetime64[ns, UTC](1), int64(3), object(1)
memory usage: 23.2+ KB